.cart {
  display: flex;
  justify-content: space-around;
  padding: 3rem;
  flex-wrap: wrap;
}
.cart .products {
  width: 40rem;
}
.cart .emptyCart {
  margin-top: 4rem;
  margin-left: 7rem;
}
.cart .total {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cart .price {
  font-size: 1.8rem;
}
.cart input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
.cart label {
  display: flex;
  align-items: center;
}
.cart .fa-question {
  color: var(--turquoise);
  margin-bottom: 1rem;
}
#alert {
  margin-top: 2rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 991px) {
  .cart {
    flex-direction: column-reverse;
  }
  .total {
    margin-bottom: 5rem;
  }
  .cart .emptyCart {
    text-align: center;
    margin-left: 0rem;
  }
  .cart .products {
    margin: 0;
  }
  .cart .products {
    width: 100%;
  }
}
